.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-style{
  background-color: #6bffc6; 
  border: none;
  border-radius: 8px;
  color:rgb(85, 85, 85);
}

.button-style:hover{
  background-color: #7fdab7; 
  border: none;  
}

.button-style:focus{
  outline:0;
  border: none;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
